/* NOTIFICATION */

.notification-hidden {
  visibility: hidden;
}

.notification-container {
  position: fixed;
  background-color: #003861;
  border-radius: 5px;
  padding: 1rem;
  width: 250px;
  height: 150px;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  transition: all 1 ease-in;

  .ui.header {
    color: #f8f9fa;
  }
  .ui.button {
    cursor: pointer;
  }

  .notification-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 13%;
  }
}
