.container {
  max-width: 80%;
  margin: 0 auto;
}

.ui.form.user-edit-form {
  width: 100%;
}

.ui.selection.dropdown.product-category-dropdown {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.ui.blue.header.product-create-header {
  margin-top: 1.8rem;
}

.ui.toggle.checkbox.product-create-checkbox {
  margin-bottom: 1rem;
}
