.admin-container {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 4.6rem;
}

.show-all-users {
  display: flex;
  flex-direction: column-reverse;

  .MuiExpansionPanelDetails-root-123 {
    padding: 0;
  }
}

.ui.form.user-edit-form {
  width: 100%;
}

.ui.selection.dropdown.product-category-dropdown {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.ui.blue.header.product-create-header {
  margin-top: 1.8rem;
}

.ui.toggle.checkbox.product-create-checkbox {
  margin-bottom: 1rem;
}

.ui.buttons.product-button-group {
  float: right;
}

.product-admin-container,
.user-container {
  margin-bottom: 0.7rem;
}

.ui.blue.header.header-products {
  margin-top: 2rem;
}

/* ORDER */

.show-all-orders {
  .MuiExpansionPanelDetails-root-116 {
    padding: 0;
  }
}

.order-content {
  width: 100%;
  padding: 1rem;

  .ui.card {
    box-shadow: unset;
  }

  .ui.card.order-item-card {
    width: 100%;
    margin-bottom: 0;
    flex-direction: column;

    .order-item {
      display: flex;
      flex-direction: row;
      padding: 1rem;

      .order-item-card-content-img {
        padding-right: 1rem;
      }

      .order-item-card-content {
        width: 100%;
      }
    }

    .order-item-total {
      margin-top: 0.5rem;
      margin-left: auto;
      margin-right: 1rem;
    }
  }

  .order-item-shipping-card {
    width: 100% !important;

    .order-item-status {
      float: right;
    }
  }
}

@media (max-width: 480px) {
  .ui.buttons.product-button-group {
    float: left;
  }
}
