@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.img-container {
  width: 100%;
  img {
    width: 100%;
    min-height: 10%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
  }
}

ul.slick-dots {
  bottom: 1rem;
}

ul.slick-dots li button:before {
  font-size: 0.7rem;
}
