@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

img {
  min-width: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

ul.slick-dots {
  bottom: 1rem;
}

ul.slick-dots li button:before {
  font-size: 0.7rem;
}
